{:db-spec {:dbname "dev_blog",
           :dbtype "postgresql",
           :host "127.0.0.1",
           :port 5432,
           ;; username for hikari, user for standard connection
           :username "static_site_builder"},
 :dev {:port 3000},
 :domain "stel.codes",
 :http {:port 1201},
 :prod false}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Example production environment starting command:
;; env -i PROD=true clj -X:webhook
