{:min-bb-version "0.4.0",
 :tasks {repl (shell "rlwrap bb clojure -M:repl")
         serve (if (seq *command-line-args*)
                 (shell (str "caddy file-server --listen :3030 --root " (first *command-line-args*)))
                 (shell "caddy file-server --listen :3030 --browse --root dist"))
         sass (shell "npx sass --no-source-map --watch scss:static/assets/css")}}
