{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        stasis/stasis {:mvn/version "2.5.0"}
        ring/ring-core {:mvn/version "1.8.2"}
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.2"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        optimus/optimus  {:mvn/version "1.0.0-rc3"}
        stelcodes/optimus-sass {:mvn/version "0.1.2-SNAPSHOT"}
        markdown-clj/markdown-clj {:mvn/version "1.10.5"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        com.atlassian.commonmark/commonmark {:mvn/version "0.16.1"}
        com.cemerick/url {:mvn/version "0.1.1"}
        tupelo/tupelo {:mvn/version "20.12.03b"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}}

  :export {:exec-fn stelcodes.dev-website.generator/export}
  :serve {:exec-fn stelcodes.dev-website.generator/serve}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"]}}}
