{:aliases {:export {:exec-fn codes.stel.dev-blog.generator/export},
           :jar {:exec-args {:aot true,
                             :artifact-id "dev-blog",
                             :compile-ns [codes.stel.dev-blog],
                             :group-id "codes.stel",
                             :jar "codes.stel.dev-blog.jar",
                             :jar-type :uber,
                             :main-class codes.stel.dev-blog,
                             :version "0.1.0"},
                 :exec-fn hf.depstar/jar,
                 :extra-deps {seancorfield/depstar {:mvn/version "2.0.216"}}},
           :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.2"},
                               integrant/integrant {:mvn/version "0.8.0"},
                               integrant/repl {:mvn/version "0.3.2"},
                               nrepl/nrepl {:mvn/version "0.8.3"},
                               ring/ring-core {:mvn/version "1.8.2"},
                               ring/ring-jetty-adapter {:mvn/version "1.8.2"}},
                  :extra-paths ["dev"],
                  :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]" "--interactive"]},
           :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner",
                                                            :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}},
                    :main-opts ["-m" "cognitect.test-runner" "-d" "test"]},
           :test {:extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}, :extra-paths ["test"]},
           :webhook {:exec-fn codes.stel.dev-blog.webhook/listen}},
 :deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"},
        com.cemerick/url {:mvn/version "0.1.1"},
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"},
        com.taoensso/timbre {:mvn/version "5.1.2"},
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"},
        http-kit/http-kit {:mvn/version "2.5.3"},
        me.raynes/fs {:mvn/version "1.4.6"},
        org.clojure/clojure {:mvn/version "1.10.1"},
        org.postgresql/postgresql {:mvn/version "42.2.17.jre7"},
        seancorfield/next.jdbc {:mvn/version "1.1.588"},
        stasis/stasis {:mvn/version "2.5.1"}},
 :paths ["src" "resources"]}

;; sass --no-source-map
;; resources/scss/main.scss:resources/public/assets/css/main.css
