{:aliases {:repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.2"},
                               nrepl/nrepl {:mvn/version "0.8.3"}},
                  :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"
                              "--interactive"]
                  :extra-paths ["dev"]}}
 :deps {nuzzle/nuzzle {:local/root "../nuzzle"}
        org.clojure/clojure {:mvn/version "1.10.3"}}
 :paths ["src" "resources"]}
