{:overlay-dir "overlay"
 :location "https://stel.codes"
 :sitemap? true
 :markdown-opts
 {:syntax-highlighting
  {:provider :chroma
   :style "dracula"}}
 :render-webpage views/render-webpage
 :rss-channel
 {:title "Stel Codes"
  :link "https://stel.codes"}
  :description "Thoughts about programming and whatever else."

 :site-data
 #{
   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
   ;; Webpage Maps

   ;; Homepage
   {:id []}

   ;; Blog Posts
   {:id [:blog-posts :using-directus-cms]
    :content "markdown/using-directus-cms.md",
    :header-image "https://user-images.githubusercontent.com/22163194/171312351-c9d6c835-f94b-45a4-8b8a-096bcdcf2084.jpeg",
    :sort 10,
    :draft? false,
    :subtitle "A flexible SQL DB interface that really shines ✨",
    :tags #{:clojure :nixos},
    :rss? true
    :title "Using Directus as a CMS for my Blog"}

   {:id [:blog-posts :babashka-tasks-for-postgresql-backups]
    :content "markdown/babashka-postgresql-backups.md",
    :header-image "https://user-images.githubusercontent.com/22163194/171311927-dae60651-bedb-4a35-82f3-e4c48a8d6661.svg",
    :sort 20,
    :draft? false,
    :subtitle "Why write a Bash script when you can use Clojure?!",
    :tags #{:clojure :babashka},
    :rss? true
    :title "Creating Babashka tasks for postgresql backups"}

   {:id [:blog-posts :i3-or-sway-why-not-both]
    :content "markdown/i3-or-sway-nixos.md",
    :header-image "https://user-images.githubusercontent.com/22163194/171310246-ac140e63-0eff-4e19-9837-3263649512a0.png",
    :sort 0,
    :draft? false,
    :subtitle "How to setup a dual i3 + sway environment on NixOS",
    :tags #{:nixos :i3 :sway :linux},
    :rss? true
    :title "i3 or Sway? Why not Both?"}

   ;; Coding Projects
   {:id [:coding-projects :functional-news]
    :content "markdown/functional-news.md",
    :header-image "https://user-images.githubusercontent.com/22163194/171310275-06701d92-9d90-44a5-88c1-3a7ff25c534f.jpeg",
    :prod "https://news.stel.codes",
    :repo "https://github.com/stelcodes/functional-news",
    :sort 20,
    :draft? false,
    :tags #{:clojure :java :scss},
    :title "Functional News (λn)"}

   {:id [:coding-projects :developer-blog]
    :content "markdown/developer-blog.md",
    :prod "https://stel.codes",
    :repo "https://github.com/stelcodes/dev-blog",
    :sort 10,
    :draft? false,
    :tags #{:clojure :java :scss},
    :title "Developer Blog"}

   {:id [:coding-projects :self-care-android-app]
    :content "markdown/self-care-android-app.md",
    :header-image "https://user-images.githubusercontent.com/22163194/171310260-aefcd541-54c3-4269-b643-2af7f50337e2.gif",
    :prod nil,
    :repo "https://github.com/stelcodes/self-care-android-app",
    :sort 0,
    :draft? false,
    :tags #{:java :android},
    :title "Self Care Android App"}

   ;; Educational Resources
   {:id [:educational-media :getting-clojure]
    :content "markdown/getting-clojure-russ-olsen.md",
    :header-image "https://user-images.githubusercontent.com/22163194/171310185-dd9b6cc6-d140-4873-8665-abd540110efc.jpeg",
    :sort 20,
    :draft? false,
    :subtitle "A truly excellent introduction to Clojure",
    :tags #{:clojure :java},
    :title "Getting Clojure by Russ Olsen"}

   {:id [:educational-media :grid-layout-in-css]
    :content "markdown/grid-layout-css-eric-meyer.md",
    :header-image "https://user-images.githubusercontent.com/22163194/171310232-4e09ec6e-0b18-4827-bddf-21d1b52ffea7.jpeg",
    :sort 10,
    :source "https://www.oreilly.com/library/view/grid-layout-in/9781491930205",
    :draft? false,
    :subtitle "A great reference for the ultimate CSS layout module",
    :tags #{:css :scss},
    :title "Grid Layout in CSS by Eric Meyer"}

   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
   ;; Metadata Maps
   {:id :meta
    :domain "stel.codes",
    :email "stel@stel.codes",
    :github "https://github.com/stelcodes",
    :twitter "https://twitter.com/stelstuff"}

   }
 }
